:root {
    --bg: #0F0F0D;
    --fg: #48513C;
    --fg2: #222818;
    --text: #D3D3AD
}

@font-face {
    font-family: Krypton;
    src: url(fonts/Agave-Regular.ttf);
}

body { background-color: var(--bg);}

.container {
    
    display: grid;
    grid-template-columns: auto 7.5% 40% auto;
    grid-template-areas: 
    ". . title ."
    ". side main .";

    align-content: center;
    padding: 0.5rem;
    column-gap: 10px;
    row-gap: 20px;
}

.titlebar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 10px;
    font-size: 1.25vw;
    grid-area: title;
    align-items: center;
}

.sidebar {
    grid-area: side;
}

.main {
    grid-area: main;
    padding: 30px;
}

@media screen and (max-width: 600px){
    .container {
        grid-template-columns: 100%;
        align-content: center;
        grid-template-areas: 
        "title"
        "side"
        "main";
    }

    .titlebar {
        font-size: 3vw;
    }
}

.h {
    font-size: 20px;
}

.spacer {
    visibility: hidden;
}

p, h1, h2, h3, div{
    font-family: Krypton;
    font-weight: normal;
    color: var(--text)
}

hr {
    border-color: var(--text);
    border-style: dashed;
}

div {
    font-size: 18px;
}

.box { 
    border-top: 5px solid var(--fg);
    background-color: var(--fg2);
    padding: 1rem;
}

.box > img {
    padding: 0;
    border: 5px solid var(--fg);
}

.center {
    align-self: center;
    text-align: center;
}